body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.wrap {
  display: flex;
  justify-content: space-between;
}

aside {
  width: 20%;
  height: calc(100vh - 20px);
  position: relative;
  left: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  background-color: #03a9f4;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px 0px 0px 0px;
  position: relative;
}

.aside-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside-info h1 {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 10px;
}

.position {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ava-img {
  position: relative;
  height: 70px;
}

.gradient-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%);
}

.gradient-left {
  position: absolute;
  left: -50%;
  bottom: 34px;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%);
  transform: rotate(90deg);
}

.gradient-right {
  position: absolute;
  left: 50%;
  bottom: 34px;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%);
  transform: rotate(90deg);
}

.gradient-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%);
}

.position span {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.position div {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  padding: 8px 18px 8px 18px;
  border: 1px solid white;
  border-radius: 20px;
  margin-top: 20px;
  transition: 0.3s;
}

.position div:hover {
  background-color: #0288d1;
  transform: scale(1.2);
  border: 1px solid #0288d1;
  transition: 0.3s;
}

.categories {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  flex-basis: 100%;
  width: 100%;
}

.categories-block {
  display: block;
  text-decoration: none;
  color: white;
  padding: 14px 0px 14px 0px;
  display: flex;
  align-items: center;
  border-left: 4px solid #03a9f4;
  transition: 0.3s;
}

.categories-block:hover {
  background-color: #0288d1;
  border-left: 4px solid #ffc107;
  transition: 0.3s;
}

.categories-block a {
  display: block;
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  transition: 0.3s;
}

.categories-block a:hover {
  text-decoration: underline;
  transform: scale(1.1);
  transition: 0.3s;
}

.categories-block-wrap {
  flex-basis: 70%;
  margin: auto;
  display: flex;
  align-items: center;
}

.categories-block-wrap>img {
  margin-right: 20px;
}

.seting {
  position: absolute;
  bottom: 20px;
  left: 39px;
}

.seting img {
  transition: 1s;
  cursor: pointer;
}

.seting:hover img {
  transform: rotate(180deg);
  transition: 1s;
}

.log_out {
  position: absolute;
  bottom: 20px;
  right: 39px;
}

.log_out img {
  transition: 0.5s;
  cursor: pointer;
}

.log_out img:hover {
  transition: 0.5s;
  transform: scale(1.2);
}

.conteiner {
  width: 80%;
}

header {
  width: calc(100% - 60px);
  padding: 15px 30px 15px 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: #0288d1;
}

.logo {
  animation: 3s move_logo;
}

@keyframes move_logo {
  from {
    opacity: 0;
    transform: rotate(0);
  }

  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}

.burg {
  width: 25px;
  height: 20px;
  position: relative;
  display: block;
  right: 0;
}

.burg-wrap {
  display: flex;
  align-items: center;
}

.line {
  position: absolute;
  width: 100%;
  height: 2px;
  background: white;
  border-radius: 100px;
}

.center {
  top: 50%;
  transform: translateY(-50%);
}

.bottom {
  bottom: 0;
}

.hide {
  display: none;
  transition: 0.5s;
}

.hide:checked+label .center_left {
  transform: rotate(45deg);
  transition: 0.5s;
}

.hide:checked+label .center_right {
  transform: rotate(-45deg);
  transition: 0.5s;
}

.hide:checked+label .top {
  display: none;
}

.hide:checked+label .bottom {
  display: none;
}

.header-categorie {
  transform: scale(0);
  transition: 0.5s;
  color: white;
}

.header-categorie a {
  text-decoration: none;
  color: white;
  margin-left: 30px;
  font-size: 18px;
  font-weight: 400;
}

.header-categorie a:hover {
  text-decoration: underline;
}

.hide:checked+label .header-categorie {
  transition: 0.5s;
  transform: scale(1);
  animation: 1s move_header-categorie;
}

@keyframes move_header-categorie {
  from {
    margin-top: -100%;
  }

  to {
    margin-top: 0%;
  }
}

.content {
  padding: 40px 25px 0px 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: calc(100vh - 104px);
}

.Announcemnent {
  width: 67.5%;
  height: 40vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 0 4px rgba(0, 0, 0, 0.12);
}

.Announcemnent-conteinerH {
  padding: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(20% - 28px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13);
}

.Announcemnent-conteinerH h1 {
  margin: 0;
  color: #0288d1;
  font-size: 18px;
  font-weight: 400;
}

.Announcemnent-conteinerH p {
  margin: 0;
  margin-top: 5px;
  color: #03a9f4;
  font-size: 12px;
  font-weight: 400;
}

.Announcemnent-conteinerH-right {
  display: flex;
}

.line-blue {
  color: #727272;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.line-blue::before {
  content: "";
  position: absolute;
  left: -7px;
  width: 3px;
  height: 20px;
  background-color: #03a9f4;
}

.line-yelow {
  color: #727272;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-left: 35px;
  position: relative;
}

.line-yelow::before {
  content: "";
  position: absolute;
  left: -7px;
  width: 3px;
  height: 20px;
  background-color: #ffc107;
}

.Announcemnent-conteiner {
  height: 80%;
  overflow-y: scroll;
}

.Announcemnent-conteiner-block {
  display: flex;
  line-height: 21px;
  box-sizing: border-box;
  border-bottom: 1px solid #e0e0e0;
  border-left: 4px solid #03a9f4;
  padding: 10px;
}

.yelow {
  border-left: 4px solid #ffc107;
}

.Announcemnent-conteiner-block-views {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Announcemnent-conteiner-block-views img {
  padding-top: 5px;
}

.Announcemnent-conteiner-block-text h2 {
  margin: 0px;
  font-size: 14px;
  font-weight: 500;
}

.Announcemnent-conteiner-block-text p {
  margin: 0px;
  color: #212121;
  font-size: 14px;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 8px;
  opacity: 0.3;
}

.calendar {
  width: 30%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 0 4px rgba(0, 0, 0, 0.12);
  height: 40vh;
  position: relative;
}

.calendar::before {
  content: "+";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10%;
  top: -8%;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  background-color: #ffc107;
  color: white;
  font-size: 30px;
}

.november span {
  display: block;
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0px 20px 15px;
}

.weekdays {
  margin: 0px;
  font-size: 11px;
  font-weight: 400;
  padding: 0px;
  font-size: 14px;
}

.weekdays li {
  display: inline-block;
  width: 13%;
  text-align: center;
  right: 50%;
  transform: translateX(10%);
}

.days {
  margin: 0px;
  font-size: 11px;
  font-weight: 400;
  padding: 0px;
  font-size: 14px;
}

.days li {
  margin-top: 8%;
  display: inline-block;
  width: 13%;
  color: #666;
  text-align: center;
  list-style-type: none;
  transition: 0.5s;
  cursor: pointer;
  right: 50%;
  transform: translateX(10%);
}

.days li:hover {
  transition: 0.5s;
  background: #03a9f4;
}

.messages {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 0 4px rgba(0, 0, 0, 0.12);
  width: 35%;
  height: 40vh;
}

.messagesH {
  background-color: #03a9f4;
  padding: 15px;
  position: relative;
  height: 12%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13);
}

.messagesH::after {
  content: "+";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5%;
  bottom: -30%;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  background-color: #ffc107;
  color: white;
  font-size: 30px;
}

.messagesH h1 {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}

.messagesH p {
  margin: 0;
  margin-top: 5px;
  color: #b3e5fc;
  font-size: 12px;
  font-weight: 400;
}

.messages-content {
  height: 78%;
  overflow-y: scroll;
}

.messages-content-block {
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  border-left: 4px solid white;
  border-bottom: 1px solid #e0e0e0;
  transition: 0.5s;
  cursor: pointer;
}

.messages-content-block:hover {
  border-left: 4px solid #ef5350;
  transition: 0.5s;
}

.messages-content-block-text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.messages-content-block-text h2 {
  margin: 0;
  font-size: 14px;
  color: #212121;
  font-family: "Roboto Medium";
}

.messages-content-block-text span {
  color: #727272;
  font-family: "Roboto - Regular";
  font-weight: 400;
}

.messages-content-block-text span+span {
  font-size: 10px;
  font-weight: 400;
  color: #b6b6b6;
}